@model Assignment2WebApplication.Models.Suite

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Suite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuiteNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuiteNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuiteBuzzCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuiteBuzzCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SqFootage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SqFootage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBathrooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfBathrooms)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SuiteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
