@model IEnumerable<Assignment2WebApplication.Models.Suite>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuiteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuiteBuzzCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SqFootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBathrooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuiteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiteBuzzCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SqFootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBathrooms)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.SuiteId">Edit |</a> 
                    <a asp-action="Details" asp-route-id="@item.SuiteId">Details |</a>
                    <a asp-action="Delete" asp-route-id="@item.SuiteId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
