@model Assignment2WebApplication.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuiteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuiteNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuiteNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupied)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Window)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Window)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Closit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Closit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
